.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
    
  
  h1{
      color: brown;
  }
  h2{
      color: blue;
  }  
  h3{
      font-size: 20px;
      background-color:#80EDC3;
      color:blue;
      width: auto;
      text-align: center;

  }           
  .bloco{
    display: inline-block;
              
    font-size: 20px;
  }
    .bloco:hover{
    background-color: chartreuse;
    }
  
  .btn-fixed.visible{
    visibility: visible;
  }

  li{
    font-size: 20px;                    
  }
  