*{
    margin: 0;
    padding: 0;
}
    header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    }

    .menu-icon {
        display: flex;
        width: 130px;
        height: 34px;
        gap: 24px;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-gap: 20px;
        max-width: 800px;
        padding: 10px;
        margin:0px 165px;
    }
    
     .sibebar > div {
        display: flex;
        gap: 15px;
        padding: 10px 0px; 

     }
    